@model IEnumerable<bojan3011_ppp_projekat.Models.Klijent>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Drzava.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrojLD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrojNVD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrojMVD)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Drzava.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrojLD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrojNVD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrojMVD)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KlijentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.KlijentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KlijentId })
        </td>
    </tr>
}

</table>
